@model FoodProject.ViewModels.RecipeDetailsViewModel
@{
    ViewData["Title"] = "Details";
}



    <div class="container mt-5" style="background-color:ghostwhite">
        <div class="row">
            <div class="col">
                <p>@Model.Title</p>
            </div>
        </div>
        <div class="row  mt-3 pt-2">
            <div class="col">
                <p>@Model.Description</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Views:@Model.Views | @Model.Rating% of users liked this recipe</p>
            </div>
        </div>
        <div class="row  mt-1 pt-1">
            <div class="col" style="text-align:center">
                <img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.RecipeImage)" style="width:90%" alt="Card image cap">
            </div>
        </div>
        <div class="row mt-3 pt-2">
            <div class="col-3 border-right">
                <h4>Ingredients</h4>
                <ul>
                    @foreach (var entity in Model.Ingredients)
                    {
                        <li>@entity</li>
                    }
                </ul>


            </div>
            <div class="col-9 border-left">
                <h4>Preparation:</h4>
                <p>@Model.Preparation</p>
            </div>
        </div>

    </div>






