@model IEnumerable<FoodProject.ViewModels.RecipeManageOverview>

@{
    ViewData["Title"] = "ManageRecipes";
}

<h1>ManageRecipes</h1>

<p>
    <a asp-action="CreateTest">Add new recipe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Add Image", "AddImage", new { recipeId = item.Id }) |
                @Html.ActionLink("Edit Recipe", "EditRecipeTest", new { recipeId = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { recipeId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
